<footer class="site-footer" role="banner">
	<div class="wrapper">
  <div class="footer-col-wrapper">
  	<div class="footer-col footer-col-1"> {% include home-contact.html %} </div>
  	<div class="footer-col footer-col-2">
  		<p class="text-center">Architecture without the Ego.</p>
  		<p class="showsmall">Website and contents &copy; 2009-<script>document.write(new Date().getFullYear())</script><noscript>now</noscript> Quantum Archietecture, Inc.</p> </div>
    <div class="footer-col footer-col-3">  <!-- this is an empty div --></div>
  </div>
</div>
</footer>