<section id="projects" class="projects resgallery">
	<h2>Projects</h2>
	<!-- <hr> -->
	<div class="gal-container">
	  <ul>
	    {% for project in site.projects %}
	      <li>
	      	<figure>
		      	<a href="{{ project.url | prepend: site.baseurl}}" class="project-thumb"><img src="{{ project.image | prepend: "assets/img/thumb/" | prepend: site.baseurl}}" alt="{{ project.project }}">
		      		<figcaption>
		      			<div class="gal-hover">
		      				<p class="link">{{ project.project }}</p>
		      			</div>
		      		</figcaption></a>
	      		</figure>
	      </li>
	    {% endfor %}
	  </ul>
  </div>
</section>