<section class="feedback" id="feedback">
  <h2>Feedback</h2>
  <div class="quote-container">
      {% for quote in site.data.feedback %}
        <div>
          <h3>{{ quote.name }}{% if quote.company %} <br> <span class="font-smaller">{{ quote.company }} </span> {% endif %}</h3>
          <p>{{ quote.quote }}</p>
        </div>
      {% endfor %}
  </div>
  <p>For a more traditional form of references, <a href="references.html" class="link">click here</a></p>
</section>
