<section class="hero">
    <div>
        <p><strong>QUANTUM ARCHITECTURE is a core group of experienced professionals—centered around the purposes and goals of our client's business—utilizing design and architecture as a vehicle to deliver buildings and spaces that perform.</strong></p>
        <p>We provide a wide range of planning, architectural, and design services for small and large projects.</p>
    </div>
    <div class="gen-col-wrapper">
        <span class="gen-col">Simplicity</span>
        <span id="dot"></span>
        <span class="gen-col">Integrity</span>
        <span id="dot"></span>
        <span class="gen-col">Performance</span>
    </div>


</section>
