/*
  Authors: Timothy Kennedy II
  Originally Created: March 23, 2015
  Created Date: November 13, 2015
  Modified Date: June 26, 2015
  Description:
    CSS styles for the homepage's responsive gallery thumbnails.
  Disclaimer:
    Code written for the responsive gallery was inspired by and based off Peter Finlan's Boxify code.
*/

/*    Responsive Thumbnail Gallery    */

.resgallery * {
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.opacity {
  filter: opacity(.2);
    -webkit-filter: opacity(.2);
    -moz-filter: opacity(.2);
} /*THIS IS IMPORTANT FOR THE FILTER BUTTONS TO WORK*/

section.resgallery {
  // background-color: #1C1A1C;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  //   -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  //   -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      padding: 10px 0 10px 0
}
.resgallery ul {
    margin: 0;
    padding: 0px;
    width: 100%;
}
.resgallery ul li {
    float: left;
    height: calc(1/4 * 100%);
    width: calc(1/4 * 100%);
    background-color: #000;
    list-style: outside none none;
    /*margin-top: -5px; /* <--fixes space except for bottom row */
}
.resgallery figure {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    border: 3px solid $background-color;
}
.resgallery figure img {
    width: 100%;
    height: 100%;
    filter: grayscale(70%);
      -webkit-filter: grayscale(70%);
      -moz-filter: grayscale(70%);
    vertical-align: middle; /* <--somehow fixes both black row spaces */
}
.resgallery figcaption .gal-hover {
  position: absolute;
  top: 50%;
  left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:    translate(-50%, -50%);
    -ms-transform:     translate(-50%, -50%);
    -o-transform:      translate(-50%, -50%);
    transform:         translate(-50%, -50%);
  opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
}
section.resgallery .link {
  color: #1C1C1C;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1px;
  vertical-align: middle;
  margin: 0;
  background-color: lighten($primary-color, 15%);
  padding: 4px 4px;
  border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
.resgallery .link:hover, .resgallery .link:focus {
    color: white;
    background-color: $primary-color;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
}
.resgallery figure:hover figcaption .gal-hover, .resgallery figure:focus figcaption .gal-hover {
    opacity: 1;
      -webkit-opacity: 1;
      -moz-opacity: 1;
}
.resgallery figure:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.resgallery figure:hover img {
  filter: grayscale(0%);   /*<-- restated so it doesn't change back when hover */
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
  transform:           scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform:     scale(1.1);
    -moz-transform:    scale(1.1);
    -o-transform:      scale(1.1);
}
.gal-container {
  margin-right:auto;
  margin-left:auto;
  /*padding-left:15px;*/
  /*padding-right:15px;*/
}
.gal-container:before,.gal-container:after,.row:before,.row:after {
  content: "";
  display: table;
}
.gal-container:after,.row:after {
  clear:both;
  /*margin: -5px; /* <--fixes space on bottom row */
}


/*    Responsive Thumbnails   */
@media screen and (max-width:1650px){
  .resgallery ul li {width: 25%;}
}
@media screen and (max-width:900px){
  .resgallery ul li {width: calc(1/3 * 100%);}
}
@media screen and (max-width:600px){
  .resgallery ul li{width:50%;}
}
@media screen and (max-width:470px){
  #nav {display:none;}
}   /*THIS WAS MOVED FROM "styles.css" SO IT DOESN'T INTERFERE WITH CONTENT PAGES */
@media screen and (max-width:400px){
  section.resgallery {box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;}
  .resgallery ul li{width:100%;}
  .resgallery figcaption .gal-hover {opacity:1;  -webkit-opacity:1;  -moz-opacity:1;}
}

/*    Footer space below fix  */
@media screen and (max-width:1300px){
  /*.gal-container { padding-bottom: 88px;}*/
}
@media screen and (min-height:847px) and (min-width:1301px){
  footer {
    /*padding: 5px 50px calc(100vh - 770px);*/
    /*position:inherit;*/
    /*left:inherit;*/
    /*bottom:inherit;*/
    /*height:inherit;*/
    /*width:inherit;*/
  }
}
/*@media screen and (min-height:882px) and (min-width:1450px){
  footer {padding: 5px 50px 12.5vh;}
}*/
