/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $grey-color-dark;
  // border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper {
    border-bottom: 3px solid $grey-color-light;
  }
}

.site-title {
  @include relative-font-size(1.625);
  min-height: $spacing-unit * 1.865;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-title > img {
  width: $content-width * 0.2;
  padding: 5px 0;
}

.site-nav {
  float: right;
  line-height: 91px;


  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(27.5% - (#{$spacing-unit} / 2));
  width:         calc(27.5% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(27.5% - (#{$spacing-unit} / 2));
  width:         calc(27.5% - (#{$spacing-unit} / 2));
}

.showsmall {
  font-size: $small-font-size * 0.75;
  text-align: center;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  // background-color: $background-main;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

main .wrapper {
  padding-top: 5px;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}



/**
 * Home Page Specific
 */

.hero {
  padding-top: 2em;
}


.gen-col-wrapper {
  // margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.gen-col {
  display: block;
  float: left;
  margin-bottom: $spacing-unit / 4;
  margin-left: auto;
  margin-right: auto;
  // padding-left: $spacing-unit / 2;
  text-align: center;
  width: -webkit-calc(33.3333% - (16px / 3));
  width:         calc(33.3333% - (16px / 3));
}

#dot {
  display: inline-block;
  background-color: black;
  float: left;
  margin-top: 0.5em;
  text-align: center;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
}

@include media-query($on-palm) {
  .gen-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  #dot {
    display: none;
  }
}

/**
 * Feedback Section
 */

.quote-container {
  // background-color: $background-main;
  padding: 10px;
  font-size: 0;
  $border-width: 10px;
  $margin-LR: 0.3%;
  $padding:   0.5%;
  div {
    font-size: $base-font-size;
    margin-left: $margin-LR;
    margin-right: $margin-LR;
    border: solid $border-width $brand-color;
    background-color: white;
    width: calc((25% - (#{$margin-LR} * 2) - (#{$padding} * 2)) - (#{$border-width} * 2));
    display: inline-block;
    list-style: outside none none;
    @extend %clearfix;
    padding: 0.5%;
  }

  p {
    margin: 0;
  }
  .font-smaller {
    display: block;
    float: right;
    font-size: $small-font-size;
    line-height: $base-line-height * 0.5;
    color: $grey-color;
    margin-right: 20px;
  }
  @include media-query($on-laptop) {
    div {
      width: calc(((1/3 * 100%) - (#{$margin-LR} * 2) - (#{$padding} * 2)) - (#{$border-width} * 2));
      margin-top: 1%;
    }
  }
  @include media-query($on-palm) {
    div {
      width: calc((50% - (#{$margin-LR} * 2) - (#{$padding} * 2)) - (#{$border-width} * 2));
    }
    #dot {
      display: none;
    }
  }
}

  